body {
  background-image: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
  font: 20px Montserrat, sans-serif;
}
.navbar {
  border-radius: 0px;
  border-width: 0px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.bg-color {
  background-color: #FFFFFF;
}
.pull-right {
  float: right;
  margin-right: 98px;
}
.navbar-nav {
  margin-top: 10px;
}
#logo {
  height: 32px;
}
.form-group {

}
.piagram {
  height: 40%;
  width: 40%;
  padding: 16px;
}
.diagram {
  padding: 16px;
}
.heat-map {
  background: rgba(255, 255, 255, 0.5);
}
.canvas {
  position: relative;
  left: 0px;
  top: 0px;
}