body {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  font: 20px Montserrat, sans-serif;
}
.navbar {
  border-radius: 0px;
  border-width: 0px;
}
.nav-link {
  color: black;
}
.nav-link:hover {
  color: #DFDCE3;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.bg-color {
  background-color: #FFFFFF;
}
.pull-right {
  float: right;
  margin-right: 98px;
}
.header-logo
{
  width: 200px;
}
.piagram
{
  height: 40%;
  width: 40%;
}
