body {
  padding-top: 5rem;
  background-color: #2f975b;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.bg-color {
  background-color: #DFDCE3;
}
.pull-right {
  float: right;
  margin-right: 98px;
}
.header-logo
{
  width: 200px;
}
.piagram
{
  height: 40%;
  width: 40%;
}
